---
pagination:
  data: tomlFromLegacyHTML
  size: 1
  alias: participant
permalink: _data/{{ participant | replace("/", "") | escape }}.toml
eleventyAllowMissingExtension: true
---
display = "{{ tomlFromLegacyHTML[participant].display | safe }}"

# Websites
# ------------------------------------------------------------------------------
{% for website in tomlFromLegacyHTML[participant].websites %}
[[websites]]
url   = "{{ website.url }}"
title = "{{ website.title }}"
years = [{{ website.years }}]
{% endfor %}
