---
layout: base.njk
title: "CSS Naked Day"
subtitle: "Show off your semantic <code>&lt;body&gt;</code>!"
description: "Promoting Web standards all declarations at a time"
---

<h3>April 9 is CSS Naked Day!</h3>

<p>Join us for the yearly festivities on April 9 of going nude on the Web!</p>

<!-- <h3><a id="where-is-design" href="#where-is-design">Where did the design go?</a></h3>
<p>The website you just came from is not broken, its owner has decided to participate to CSS Naked Day! CSS Naked Day is an event that is held once per year to celebrate good and well planned design. The website you come from will be back to its normal state tomorrow.</p>

<h3><a id="meaning" href="#meaning">What does that mean?</a></h3> -->

<p>The idea behind CSS Naked Day is to promote web standards. Plain and simple. This includes proper use of HTML, semantic markup, a good hierarchy structure, and of course, a good old play on words. In the words of 2006, it’s time to show off your &lt;body&gt; for what it really is.</p>

<h3><a id="editions" href="#editions">CSS Naked Day editions</a></h3>

<ul>
	{% for year in range(globals.yearStart, globals.yearCurrent + 1) | reverse %}
		<li>
			{% if participationsCount[year] > 0 %}
				<a href="{{ year | slugify }}.html">{{ year }}</a>
			{% else %}
				{{ year }}
			{% endif %}
		</li>
	{% endfor %}
</ul>

<h3><a id="participate" href="#participate">How to participate</a></h3>

<p>On April 9, simply remove all CSS from your website, stripping it entirely of its design.</p>

<p>You can link to this page to let your visitors know about the nudity of your website! This option is for those who feel a need to give their visitors a reference as to what’s going on. This is not about getting traffic or making money. There are no ads on this site, nor will there ever be. This is about you, the people; getting naked.</p>

<p>You can instead add your website(s) here by <a href="https://source.css-naked-day.org/css-naked-day.org/issues/new">creating an issue</a> or <a href="https://source.css-naked-day.org/css-naked-day.org">adding a file in the proper folder</a>!</p>

<h3><a id="developers" href="#developers">Don’t think, just strip</a></h3>

<p>A couple of participants provided their own methods over the years. You can find a list of <a id="tools" href="/strip">code snippets and tools to participate</a>!</p>

<h3><a id="timespan" href="#timespan">How much is a day?</a></h3>

<p>CSS Naked Day lasts for <strong>one international day</strong>.</p>

<p>Technically speaking, it will be April 9 somewhere in the world for 50 hours, from <strong>00:00, April 9 UTC+14:00</strong> to <strong>00:00, April 10 UTC-12:00</strong> (<em>10:00, April 8 UTC+00:00</em> to <em>12:00, April 10 UTC+00:00</em>). This is to ensure that everyone’s website will be publicly nude for the entire world to see at any given time during April 9.</p>

<h3><a id="messaging" href="#messaging">Messaging recommendation</a></h3>

<p>For people visiting your website, it may be surprising to see your site “naked.” To limit the confusion and an impact on your traffic, we recommend you add a small notification at the top of participating sites, like:</p>

<pre><code>&lt;p&gt;My Site is celebrating &lt;a href="https://css-naked-day.org/"&gt;CSS Naked Day&lt;/a&gt;!&lt;/p&gt;</code></pre>

<p>This gives people some context and is also a nice way to spread the word. Of course, you can make the message your own.</p>

<h3><a id="origins" href="#origins">Origins</a></h3>

<p>CSS Naked Day started in <a href="https://web.archive.org/web/20060409133500/http://naked.dustindiaz.com/">2006 by Dustin Diaz</a>, who organized it until <a href="https://web.archive.org/web/20090503155846/http://naked.dustindiaz.com:80/">2009</a>. From <a href="https://web.archive.org/web/20100516032732/http://naked.threepixeldrift.com/">2010</a> until <a href="https://web.archive.org/web/20140817035514/http://naked.threepixeldrift.com/">2014</a>, it was hosted by Taylor Satula. The content in this page is extracted from the content of the respective pages. Since 2015, the project is maintained by <a href="https://arkhi.org/">Fabien Basmaison</a> and <a href="https://meiert.com/">Jens Oliver Meiert</a>. (Jens once worked on a <a href="https://meiert.com/blog/css-naked-day-and-wikipedia/">proposal for a CSS Naked Day Wikipedia page</a> that retells the story.)</p>

<h3>Famous words</h3>

<blockquote>
	<p>This is a fun idea, fully in line with the reasons for creating CSS in the first place. While most designers are attracted by the extra presentational capabilities, saving HTML from becoming a presentational language was probably a more important motivation for most people who participated in the beginning.</p>
</blockquote>

<p><cite>Håkon Wium Lie</cite></p>
