---toml
	[pagination]
		data = "participants"
		size = 1
		alias = "year"
	permalink = "/{{ year }}.html"
---

{# See `pagination.before` in separate year.11tydata.js. #}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CSS Naked Day {{ year }}</title>
		<link rel="icon" href="/favicon.ico">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chivo:900">
		<link rel="stylesheet" href="setup/default.css">
		<meta name="viewport" content="initial-scale=1,minimum-scale=1,width=device-width">
		<meta name="description" property="og:description" content="April 9 is CSS Naked Day!">
		<meta name="twitter:card" content="summary">
		<meta property="og:title" content="CSS Naked Day {{ year }}">
		<meta property="og:image" content="https://css-naked-day.github.io/media/logo.png">
	</head>

	<body>
		<div id="container">
			<div class="inner">
				<header>
					<h1>CSS Naked Day {{ year }}</h1>
					<h2>Show off your semantic <code>&lt;body&gt;</code>!</h2>
				</header>
				<hr>

				<section id="main_content">
					<p>
						<a href="/">Home</a>

						{% for edition in editions %}
							{% if edition.participants | length %}
								· <a href="{{ edition.year | slugify }}.html">{{ edition.year }}</a>
							{% else %}
								· {{ edition.year }}
							{% endif %}
						{% endfor %}
					</p>

					<h3>Kudos to these websites who got naked in {{ year }}!</h3>

					<ol>
						{# We use both editions and participants as Global Data. #}
						{% for edition in editions %}
							{% if edition.year === year %}
								{% for filename, websites in edition.participants %}
									{% set participant = participants[filename] %}

									<li>
										{%- if websites | length === 1 -%}
											{% linkNoSpam 'getParticipantDisplayName', websites[0], participant, year %}
										{%- else -%}
											{{ participant | getParticipantDisplayName }}:

											{% for website in websites -%}
												{% linkNoSpam 'getSiteTitle', website, participant, year, loop.index0 %}
											{%- endfor %}
										{% endif %}
									</li>
								{% endfor %}
							{% endif %}
						{% endfor %}
					</ol>

					<p>
						Feel free to
						<a href='https://github.com/css-naked-day/css-naked-day.github.io/new/master/?filename=_data/participants/my-name.toml&value=display%20%3D%20%22MY%20NAME%22%0A%0A%23%20Websites%0A%23%20------------------------------------------------------------------------------%0A%0A%5B%5Bwebsites%5D%5D%0Aurl%20%20%20%3D%20%22URL_OF_MY_WEBSITE%22%0Ayears%20%3D%20%5B%0A%20%20%0A%5D'>add yours</a>!
					</p>
				</section>

				<footer>
					This is <a href="/">CSS Naked Day</a>. This page was generated by <a href="https://pages.github.com">GitHub Pages</a> (<a href="https://github.com/css-naked-day/css-naked-day.github.io">view it on GitHub</a>). Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
				</footer>
			</div>
		</div>
	</body>
</html>
