---
layout: base.njk
eleventyComputed:
  title: "CSS Naked Day {{ year }}"
  description: "List of websites which stripped their CSS in {{ year }}"

# See `pagination.before` in separate year.11tydata.js
pagination:
  data: participants
  size: 1
  alias: year
permalink: /{{ year | slugify }}.html
---

<p>
	<a href="/">Home</a>
	{% for year in range(globals.yearStart, globals.yearCurrent + 1) %}
		{% if participationsCount[year] > 0 %}
			· <a href="{{ year | slugify }}.html">{{ year }}</a>
		{% else %}
			· {{ year }}
		{% endif %}
	{% endfor %}
</p>

<h3>Kudos to these websites who got naked in {{ year }}!</h3>

<ol>
	{% for filename, participations in participations | getParticipantsForYear(year) | groupby('participant') %}
		{% set participant = participants[filename] %}
		{% set websitesForYear = participant | getParticipantWebsitesForYear(year) %}

		<li>
			{%- if participant | mergeNameWithURL(websitesForYear) -%}
				{% linkNoSpam filename | getParticipantDisplayName, websitesForYear[0] %}
			{%- else -%}
				{{- filename | getParticipantDisplayName }}:
				{% formatWebsitesForYear websitesForYear -%}
			{% endif -%}
		</li>
	{% endfor %}
</ol>

<p>
	Feel free to
	<a href='https://github.com/css-naked-day/css-naked-day.org/new/master/?filename=_data/participants/my-name.toml&value=display%20%3D%20%22MY%20NAME%22%0A%0A%23%20Websites%0A%23%20------------------------------------------------------------------------------%0A%0A%5B%5Bwebsites%5D%5D%0Aurl%20%20%20%3D%20%22URL_OF_MY_WEBSITE%22%0Ayears%20%3D%20%5B%0A%20%20%0A%5D'>add yours</a>!
</p>
